[alias]
	br = branch
	ci = commit
	co = checkout
	d = diff
	f = ls-files
	ll = log --graph --pretty='format:%C(yellow)%h%Cblue%d%Creset %s %C(green bold)%an, %ar%Creset'
	lll = log --all --graph --pretty='format:%C(yellow)%h%Cblue%d%Creset %s %C(green bold)%an, %ar%Creset'
	lla = log --all --graph --pretty='format:%C(yellow)%h%Cblue%d%Creset %s %C(green bold)%an, %ar%Creset'
	st = status
[color]
	ui = auto
[user]
	name = Takumi Abe
	email = abe@engraphia.com
