.DS_Store

.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list/
.emacs.d/packages
.emacs.d/projectile-bookmarks.eld
.emacs.d/inits/*.elc

.bashrc.d/localsettings.bash

## for atom
.node-gyp
.atom/*
!.atom/config.cson
!.atom/keymap.cson
!.atom/github.cson
!.atom/packages.txt
!.atom/snippets.cson
!.atom/styles.less
