[alias]
    a = add -A .
    br = branch
    ci = commit
    co = checkout
    d = diff -M
    dc = diff --cached -M
    f = ls-files
    lg = log
    l = log --graph --all --simplify-by-decoration
    ll = log --graph
    lll = log --graph --all
    noff = merge --no-ff
    st = status
[color]
    ui = auto
[user]
    name = Takumi Abe
    email = abe@engraphia.com
[log]
    date = short
[format]
    # logのフォーマットを short-hash / (ref names) / commit message / commiter / author-date / (author-relative time) に変更
    pretty = %x09%C(yellow)%h%C(blue)%d%C(reset) %s %C(green bold)%an, %ad(%ar)%C(reset)
[push]
    # 引数なしpush時に、現在のブランチのみをpushする
    default = current
[rebase]
    autosquash = true
[core]
    # コメント文字を#から;に変更する
    commentchar = ";"
    # 非ASCII文字を含むパスをエスケープしない
    quotepath = false
