[alias]
    a = add -u
    br = branch
    ci = commit
    co = checkout
    d = diff -M
    dc = diff --cached -M
    ls = ls-files
    fi = "!f() { if [ \"$1\" = \"\" ]; then git commit --amend --no-edit; else git commit --fixup=\"$1\"; fi }; f"
    cat = "!f() { if [ \"$2\" = \"\" ]; then git cat-file -p HEAD:$1; else git cat-file -p $1:$2; fi; }; f"
    lg = log --format=medium
    l = log --graph --simplify-by-decoration
    la = log --graph --all --simplify-by-decoration --topo-order
    ll = log --graph --topo-order
    lll = log --graph --all --topo-order
    noff = merge --no-ff
    st = status --short --branch
[color]
    ui = auto
[user]
    name = Takumi Abe
    email = abe@engraphia.com
[log]
    date = format:%m/%d
[diff]
    compactionHeuristic = true
[format]
    # logのフォーマットを short-hash / (ref names) / commit message / commiter / author-date / (author-relative time) に変更
    pretty = %x09%C(yellow)%h%C(blue)%d%C(reset) %s %C(green bold)%an, %ad(%ar)%C(reset)
[push]
    # 引数なしpush時に、現在のブランチのみをpushする
    default = current
[rebase]
    autosquash = true
[core]
    # 非ASCII文字を含むパスをエスケープしない
    quotepath = false

    # 色付きless
    pager = less -R

    editor = code --wait
