"*":
  "atomic-emacs":
    alwaysUseKillRing: true
  core:
    closeDeletedFileTabs: true
    closeEmptyWindows: false
    customFileTypes:
      "source.yaml": [
        "gemrc"
      ]
    disabledPackages: [
      "github"
      "markdown-preview"
      "spell-check"
    ]
    packagesWithKeymapsDisabled: [
      "markdown-table-formatter"
    ]
    projectHome: "/Users/takumiabe/my"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    fontFamily: "Myrica M"
    fontSize: 17
    invisibles:
      space: "･"
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "ed90d359-e434-4fbb-888a-8bce065dde3f"
  "git-blame":
    columnWidth: 317
  "git-diff":
    showIconsInEditorGutter: true
  "git-projects":
    rootPath: "/Users/takumiabe/work;/Users/takumiabe/study;/Users/takumiabe/my"
    sortBy: "Latest modification date"
  "markdown-preview-enhanced":
    imageDropAction: "do nothing"
    singlePreview: false
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "minimap-autohider": true
      "minimap-autohiderDecorationsZIndex": 0
  "show-invisibles-plus":
    borders: {}
    placeholders:
      space: "･"
  termination:
    ansiColors:
      normal:
        black: "#1f1f1f"
        blue: "#2f42fe"
        brightBlack: "#555555"
        brightBlue: "#5500ff"
        brightGreen: "#55ff00"
        brightMagenta: "#ff55ff"
        brightRed: "#ff5555"
        cyan: "#00bbcd"
        green: "#00bb00"
        magenta: "#bb00bb"
        red: "#bb0000"
        white: "#bbbbbb"
        yellow: "#bbbb00"
    core:
      scrollback: 10000
      shell: "/usr/local/bin/bash"
    style:
      defaultPanelHeight: "50%"
      fontFamily: "MyricaM M"
      fontSize: "16"
    toggles:
      autoClose: true
      runInsertedText: false
  welcome:
    showOnStartup: false
