'.platform-linux atom-workspace':
  'ctrl-o': 'advanced-open-file:toggle'
  'ctrl-shift-o': 'git-projects:toggle'

'.platform-darwin atom-workspace':
  'cmd-o': 'advanced-open-file:toggle'
  'cmd-@': 'termination:toggle'

'atom-text-editor:not([mini])':
  'alt-up': 'rectangle-selection:select-up'
  'alt-down': 'rectangle-selection:select-down'
  'alt-right': 'rectangle-selection:select-right'
  'alt-left': 'rectangle-selection:select-left'
